@font-face {
  font-family: "AnastasiaScript";
  src:
    url("./assets/fonts/AnastasiaScript.woff2") format("woff2"),
    url("./assets/fonts/AnastasiaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
