@font-face {
  font-family: "AnastasiaScript";
  src:
    url("/fonts/AnastasiaScript.woff2") format("woff2"),
    url("/fonts/AnastasiaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block; /* <- blocks text until font is loaded */
}
